doctype 5
html
  head
    title= title
    != css('style.css')
    block styles

  body
    block content

    != js('jquery.js')
    != js('rx.js')
    != js('rx.binding.js')
    != js('rx.time.js')
    != js('rx.jquery.js')

    block scripts