extends layout

block scripts

	script

		// Functional-Reactive Code!... ish.

		$(document).on('click')
			.map(function(e) {
					return {
						x: e.pageX,
						y: e.pageY
					}
				})
			.forEach(function(e) {
					console.log(e.pageX + ':' + e.pageY);
				});